body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.pin {
  transform: translate(-50%, -100%);
}

.pin.red path {
  fill: #f05305;
}

.pin.blue path {
  fill: #89CFF0;
}

.popup {
  width: 30vw;
  padding: 0.5rem;
  background-color: #696969;
}

.popup h3 {
  color: #FFFFFF;
  text-align: center;
}

.popup p {
  color: #FFFFFF;
}

.popup small {
  color: #FFFFFF;
}

.popup img {
  height: 200px;
  padding: 1rem;
  width: auto;
  text-align: center;
  margin: 0 auto;
  display: block;
}

.form input,
.form textarea {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  color: #000000;
  font-size: 1rem;
  margin: 0.5rem 0;
  display: block;
  width: 98.5%;
}

.form label{
  color: #FFFFFF;
  font-size: 1rem;
  margin: 0.5rem 0;
  display: block;
  width: 98.5%;
}

.form button {
  background-color: #89CFF0;
  color: #000000;
  font-size: 1rem;
  margin: 0.5rem 0;
  display: block;
  width: 100%;
}